*{
    text-align: center;
    padding: 0;
}

.flex-container-central {
    
    color: rgba(190, 154, 54, 0.76);
}

.flex-container-central h1{
background-color: rgba(94, 54, 9, 0.863);

}

.flex-container-central h2{
font-style: italic;
color: maroon;
}

.flex-container-central p {
    color: black;


}


.img-peruca{
width: 150px;
text-align: center;
}