*{
    margin: 0;
    padding: 3px;
    box-sizing: border-box;

   
   
}

.flex-container-central{
    text-align: center;
}

.title{
   font-style:normal; 
   text-align: center;
   background-color: rgba(190, 154, 54, 0.76);
   
}

img{
    width: 150px;
    text-align: center;
}

#link {
    margin: 1px; 

    background-color: blanchedalmond;
    padding: 1px;
    padding-right: 2px;
    list-style-position: outside;
    display: flex;
    justify-content: space-around;
    
     

}

#link li {
    display: inline ;
    margin: 2px;
    border-radius: 50%;
    background-color:blanchedalmond;
   
   
}

#link li a{
    text-decoration: none;
    color:maroon;


}
 .flex-container-p{
    margin: 40px;
    text-align: center;
 }



 
  
 





 



